/*
Colours used:
Home & About pages:
Primary colour (text): #262626
Background colour 1: #efefef
Background colour 2: #d0d0d0
Highlight/Accent colour: #11c793

MonstaPursuit page:
Primary colour (text): #262626
Background colour 1: #ffffff
Background colour 2: #fbfaf6 / #f3f1ed
Highlight/Accent colour 1: #f78433
Highlight/Accent colour 2: #80899a / #4b5161
*/

*{
  box-sizing:border-box;
}

body{
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #262626;
  background-color: #efefef;
}


h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  padding-top: 6.25vw;
  margin-top:0;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

p{
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

a {
  color: #11c793;
  font-weight: 500;
}

a:visited {
  color: #898989;
}

a:hover,
a:focus {
  color: #258c6e;
}

a:active{
  color:#898989;
}

.button{
  display:inline-block;
  font-weight: 700;
  background-color: #11c793;
  color: #ffffff !important;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.4s opacity, 0.4s background-color, 0.4s font-size;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.button:hover,
.button:focus,
.button:active{
  background-color:#0b8562;
}

.button.contact{
  background-color: transparent;
  border: 3px solid #262626;
  color: #262626 !important;
  border-radius: 50px;
  padding: 10px 60px;
  font-size: 1.2em;
}

.button.contact:hover,
.button.contact:focus,
.button.contact:active{
  background-color:#262626;
  color: #fff !important;
}

.button.secondary{
  background-color:#262626;
  color: #ffffff !important;
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active{
  opacity: 0.8;
  color: #ffffff !important;
}

/* =============================================================================
   Margins & paddings
==============================================================================*/

.mt-1{
  margin-top: 5vw;
}

.mb-1{
  margin-bottom: 5vw;
}

.mt-1-25{
  margin-top: 6.25vw;
}

.mb-1-25{
  margin-bottom: 6.25vw;
}

.mt-1-5{
  margin-top: 7.5vw;
}

.mb-1-5{
  margin-bottom: 7.5vw;
}

.mt-2-5{
  margin-top: 12.5vw;
}

.mb-2-5{
  margin-bottom: 12.5vw;
}

.mt-3{
  margin-top: 3em;
}

.mb-3{
margin-bottom:3em;
}

.mt-0{
  margin-top:0;
}

.pt-0{
  padding-top:0;
}

.pb-0{
  padding-bottom:0;
}

.pb-1{
  padding-bottom: 5vw;
}

.pt-1{
  padding-top: 5vw;
}

.pt-1-25{
  padding-top: 6.25vw;
}

.pb-1-25{
  padding-bottom: 6.25vw;
}

.pt-1-75{
  padding-top: 8.75vw;
}

.pb-1-75{
  padding-bottom: 8.75vw;
}

.pt-2-5{
  padding-top: 12.5vw;
}

.pb-2-5{
  padding-bottom: 12.5vw;
}

.center{
  text-align: center;
}

img{
  width:100%;
}

video{
  width: 100%;
  padding-top: 3em;
}


.container{
  padding: 0 5vw 15vw;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/*.row{
  margin-top: 1em;
  padding: 2em 0;
}*/

.logo{
  max-width:55px;
  position: absolute;
  padding-left: 1em;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
/*  left: 50%;*/
  /*margin-left: 5vw;*/
}

header{
  background-color:#efefef;
  /*text-align: center;*/
  padding: 0.8em 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  width: 100%;
  z-index: 999;
  min-height: 65px;
}

.nav-container{
  min-height:40px;
}

#nav-md-lg{
  display: none;
}

#hamburger {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  /*top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  z-index: 2;
}

#hamburger span, #hamburger span:before, #hamburger span:after {
  cursor: pointer;
  border-radius: 0px;
  height: 4px;
  width: 30px;
  background: #262626;
  position: absolute;
  display: inline-block;
  content: '';
}

#hamburger span:before {
  top: -8px;
}

#hamburger span:after {
  bottom: -8px;
}

#hamburger span, #hamburger span:before, #hamburger span:after {
  transition: all 200ms ease-in-out;

}

#hamburger.active span {
  background-color: transparent;
}

#hamburger.active span:before, #hamburger.active span:after {
  top: 0;
}

#hamburger.active span:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  background-color: #11c793;
}

#hamburger.active span:after {
  transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  background-color: #11c793;
  top: 8px;
}

/*nav{
  display: inline-block;
  width: 100%;
}*/

/*nav > ul {
  list-style-type: none;
  padding: 0;
  margin:0;
}

nav > ul > li > a{
  text-decoration: none;
  padding: 0 0.8em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #262626
}

nav > ul > li > a:visited{
  color: #262626;
}

nav > ul > li > a:hover{
  color: #258c6e;
}

nav > ul > li > a:active{
  color: #11c793;
}*/

/*.navtoggle li:not(:last-child) {
  display: none;
}*/

/*.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}*/

.nav-main {
  position: relative;
}

.nav-main .icon {
  position: absolute;
  right: 5vw;
  top: 7px;
}

.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in*/
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px;
}

.nav-overlay a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.nav-overlay a:hover,
.nav-overlay a:focus {
  color: #11c793;
}


footer{
  background-color: #d0d0d0;
  text-align: center;
  padding-top: 2.5em;
  position: relative;
}

footer span{
  position: absolute;
  top: -65px;
}

footer p{
  font-size: 1.2em;
}

footer .container{
  padding-bottom: 0;
}

footer svg{
  margin-top: 6.25vw;
}

.social-link{
  max-width: 2.5em;
  padding: 1.25em;
}

#copyright{
  font-size: 0.83em;
  font-weight: 300;
  margin:0;
  padding-top: 1.25em;
  padding-bottom: 0.83em;
}

main {
  padding-top: 65px;
}

/* =============================================================================
   Index styling
==============================================================================*/

#hero{
  padding: 15vw 5vw;
  display: inline-block;
  width: 100%;
  background-color:#262626;
  color: #fff;
}

#hero.container{
background-color:#262626;
color: #fff;
}

#hero h1{
  text-align: center;
  margin: 0 0 1.67em;
}

#hero p{
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
}

#work .button{
  margin-top: 5vw;
}

#work h2{
  text-align: center;
  position: relative;
}

#work h2 span{
position: absolute;
top: -65px;
}

#work .container{
  max-width: 900px;
}

#work .row{
  padding: 15vw 0;
  border-bottom: 1px solid #d0d0d0;
}

.col-sm-12{
    position: relative;
    height: calc(60vw);
}

.wrapper{
  padding: 1em 0 3em;
}
.project-container{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  height: inherit;
}

.project-container .overlay {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38,38,38, 0.75);
  -webkit-filter: opacity(0);
          filter: opacity(0);
  transition: all 0.25s;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project-container:hover .overlay,
.project-container:active .overlay {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.project-container:hover .overlay.hide-overlay {
  -webkit-filter: opacity(0);
          filter: opacity(0);
}

/*.project-container:hover #play-animation-button {
  color: #ffffff;
  font-size: 2em;
}*/

#play-animation-button svg{
  width: 32px;
}

#anime-container{
  background-color: #FAF3EA;
  margin-top: 12.5vw;
  height: inherit;
}

.center-vertical{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.overlay a{ text-decoration: none; }

.overlay p {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  margin: 0 10px;
}


.colhalf-img{
  min-height: 250px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/*.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
*/

.close:hover,
.close:focus {
  cursor: pointer;
}

.close{
  position: absolute;
  top: 15px;
  right: 20px;
  background: url("../img/photoswipe-close-icon.svg") 0 0 no-repeat;
  background-size: 44px 44px;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
}

/*.pswp__button {
    width: 44px;
    height: 44px;
    position: relative;
    background: 0 0;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    opacity: .75;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-box-shadow: none;
    box-shadow: none;
/*#index footer{
  height: 12.5vw;
}*/


/* =============================================================================
   About page styling
==============================================================================*/

#hero-about{
  position:relative;
  width:100%;
  height: 100vh;
  overflow:hidden;
  background:#11c793;
}

#about-s1 {
  background-color:#11c793;
}

#about-s1 .container{
  text-align:center;
/*  background-color:#11c793;*/
  max-width:1000px;
  padding: 5vw 5vw 5vw;
}

#scroll-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 80px;
}

#about-s1 svg{
  max-width: 35px;
  padding-top: 12.5vw;
  margin: 0 auto;
}

#about-s1 p{
  display: inline-block;
  width: 100%;
  margin-top: 0;
}

#about-s1 h2{
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#about-s3{
  background-color:#262626;
  color: #FFF;
}

#strip{
  height: 15em;
  background-image: url("../img/about_page/pattern@1x.jpg");
  background-color: #11c793;
  background-size: cover;
}

#about ul{
  list-style: none;
  padding-left:0;
}

#about ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code for a bullet*/
  color: #11c793; /* Change the color*/
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space */
  margin-left: -1em; /* Also needed for space */
}

@media only screen and (min-width: 450px) {
  #img-cartoon {
    width: 80%;
  }
}

.tools{
  padding-top: 8.75vw;
}

/* =============================================================================
   MonstaPursuit page
==============================================================================*/

body #mp-page {
  color: #4b5161;
  background-color:#fbfaf6 !important;
}

.project-page h1{
  font-size: 1.75em;
  color: #4b5161 !important;
  text-align: center;
  padding-top: 1em;
}

#mp-page h3{
  color: #4b5161;
}

#mp-page h4 {
  color: #f78433;
}

#mp-page a{
color: #f78433;
}

#mp-page a:visited {
  color: #4b5161;
}

#mp-page a:hover,
#mp-page a:focus {
  color: #c15b16;
}

#mp-page a:active{
  color:#4b5161;
}

#mp-page .button{
    background-color: #4b5161;
    font-weight: 500;
  }

#mp-page .button:hover,
#mp-page .button:focus,
#mp-page .button:active{
    background-color: #80899a;
}

.s-overview-1{
  color: #ffffff;
  background-color:#80899a;
  margin-top: -25px;
  padding: 12.5vw 5vw;
}

.s-overview-1 p{
  font-weight: 500;
  font-size: 1.125em;
}

.s-overview-container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.bullets ul{
  list-style: none;
}

.bullets ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code for a bullet*/
  color: #f78433; /* Change the color*/
  font-weight: bold;
  font-size: 1.5em;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space */
  margin-left: -1em; /* Also needed for space */
}

.bullets ul{
  margin-bottom: 2em;
}

#mp-page ol{
  list-style: none;
  counter-reset: new;
}

#mp-page ol li{
  counter-increment: new;
  /*color:#f78433;
  font-weight: 500;
  margin-bottom: 1em;
  margin-right: 2em;*/
}

#mp-page ol li::before{
  content: counter(new) ".";
  color:#f78433;
  font-weight: 500;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.box >div > div>h4{
  padding-left: 1em;
}

.box{
  border: 3px solid #f78433;
  border-radius: 1.5em;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(75, 81, 97, 0.8);
  -moz-box-shadow:    0px 0px 8px 0px rgba(75, 81, 97, 0.8);
  box-shadow:         0px 0px 8px 0px rgba(75, 81, 97, 0.8);
}


#mp-page .container{
  padding-top: 1em;
}

.banner{
  background-color: #4b5161;
  color: #ffffff;
  text-align: center;
}

.banner h2{
  padding: 1em 0;
  margin:0;
}

.highlight-text{
  color: #f78433;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  padding: 12vw;
}

.highlight-text p{
  margin-bottom: 6.25vw;
}

.button.mp{
  max-width: 50%;
  padding: 1em;
  position: absolute;
  margin-left: 28%;
  bottom: 40%;
}

#comp-analysis{
  background-image: url("../img/monstapursuit/competitive_analyses@1x.png");
  background-color: #fbfaf6;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 147.82%; /* (img-height / img-width * container-width) */
                /* (4093 / 2769 * 100) */
  position: relative;
}

.goals{
  padding-top: 8vw;
}

.bg-white{
  background-color: #ffffff;
}

.bg-beige{
  background-color: #f3f1ed;
}

.bg-dark{
  background-color: #80899a;
}
.s-quotes p{
  margin-bottom: 2em;
}

.quotes::before{
/*  content: "\0022	";
  color: #f78433;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;*/
  content: url("../img/monstapursuit/quotation-marks.svg");
  background-size: 3.5em 3.5em;
  height: 3.5em;
  width: 3.5em;
  display: inline-block;
  text-align: center;
  margin: 1em 0;
}

.container-slider{
padding-bottom: 3em;
}

.container.slideshow{
  padding-bottom: 3em;
}

.shadow-orange{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(247, 132, 51, 0.8);
  -moz-box-shadow:    0px 0px 8px 0px rgba(247, 132, 51, 0.8);
  box-shadow:         0px 0px 8px 0px rgba(247, 132, 51, 0.8);
}

.slideshow{
  margin: 3.5em 0 6em;
}

.shadow-grey{
  -webkit-box-shadow: 0px 0px 8px 0px rgba(128, 137, 154, 0.8);
  -moz-box-shadow:    0px 0px 8px 0px rgba(128, 137, 154, 0.8);
  box-shadow:         0px 0px 8px 0px rgba(128, 137, 154, 0.8);
}

.slideshow.user-flow{
  border-radius: 20px;
  font-size: 1px;    /* to get rid of space betweeen the image and the slideshow containeer*/
  margin-top: 56px;
  margin-bottom: 40px;
}

#animation-cairo-london .container{
  max-width: 800px;
  padding-top: 2em;
}

#mp-page .slick-dots li button:before {
    color: #f78433;
    font-size: 6px;
  }

.slider  .slick-dots{
    bottom: -25px !important;
  }

#anchor-nav{
  display: none;
}

/*vertical text display none eon smaller screens*/
h5{
  display:none;
}

/* =============================================================================
   Medium devices (640px and larger)
==============================================================================*/

@media only screen and (min-width: 640px) {

main {
  padding-top: 80px;
}

  header {
    min-height: 80px;
  }

  body{
    font-size: 16px;
  }

  #nav-md-lg{
    display: inline-block;
  }

  #mobile-nav,
  #hamburger{
    display:none;
  }

  nav{
    width: auto;
    float: right;
    margin-right: 1em;
    margin-bottom: 0.8em;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0 0;
  }

  nav > ul > li > a{
    text-decoration: none;
    padding: 0 0.8em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #262626
  }

  nav > ul > li > a:visited{
    color: #262626;
  }

  nav > ul > li > a:hover{
    color: #258c6e;
  }

  nav > ul > li > a:active{
    color: #11c793;
  }

  /*.navtoggle li:not(:last-child) {
    display: inline-block;
  }*

  /*.navtoggle li:last-child {
  display: none;
  }*/

  .row{
    position: relative;
  /*  padding: 2em 0;*/
  }

  #hero{
    padding: 15vw 15vw;
  }

  #hero span {
  display: block;
}

footer svg{
  margin-top: 0;
}

#index footer{
  margin-top: 2em;
}

.container{
  padding: 0 5vw 6em;
}

#hero p{
  margin-top: 10vw;
}

#index h2{
  margin-bottom: 8vw;
}

.mb-2-5{
  margin-bottom:2.5em;
}

.mt-2-5{
  margin-top:2.5em;
}

.pt-1-25{
  padding-top: 1.25em;
}

.pb-1-75{
  padding-bottom: 1.75em;
}

.tools{
  padding-top: 0;
}

/*.pt-2-5{
  padding-top: 6em;
}
*/

.col-md-6{
  width: 50%;
}

.colr-md-6{
  width: 50%;
  float: right;
}

.col-md-7{
  width: 60%;
}

.colr-md-7{
  width: 60%;
  float: right;
}

.col-md-8{
  width: 75%;
}

[class*="col-"] {
  float: left;
}

/*[class*="colr-"] {
  float: right;
}*/

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work img {
  max-height: 400px;
  object-fit: cover;
  position: relative;
  }

#work .button{
  margin-top: 1em;
}

#work h3{
  padding-top: 0;
}

#work .row{
  padding: 10vw 0;
}

/*#logo-container{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}*/

/*#logo-animation{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}*/

.colright-50{
  position: absolute;
  padding-left: 2em;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
}

#anime-container{
  background-color: #FAF3EA;
  margin-top: 0;
}

.colhalf-left{
  width: calc(50% - 1em);
  float: left;
  height: 300px;
  position: relative;
}

.colhalf-right{
  width: calc(50% - 1em);
  float: right;
  height: 300px;
  position: relative;
}


.colhalf-img{
  height: 300px;
}


.button{
  max-width: 400px;
}

.mr-2{
  margin-right: 2em;
}

.pr-2 {
  padding-right: 2em;
}

.pr-1{
  padding-right: 1em;
}

.plr-1{
  padding: 0 1em;
}

p {
  margin-bottom: 1em;
  margin-top: 2em;
}

 footer p{
   margin: 1em 0;
 }

#about-s1{
padding-top: 1em;
}

#about-s1 h2{
  padding-top: 3em;
}

#about-s1 svg{
  padding-top: 0;
}
#about h3{
  padding-top: 3em;
}

#about .container{
  padding-bottom: 5em;
  padding-top: 3em;
}

#img-cartoon{
  width: 100%;
  margin-top:6em;
  margin-bottom: 1em;
}

#strip{
  height: 20em;
}

.s-overview-1{
  padding: 6em 6em;
  margin-left: auto;
  margin-right: auto;
}

.mw-1000{
  max-width: 1000px;
  margin: auto;
}

.md-width-80{
  width:80%;
  margin: auto;
}

.md-p-0{
  padding:0;
}

#comp-landscape{
  margin-top: 3em;
}

.goals{
  padding: 0 1em;
}

.container-slider{
padding-bottom: 3em;
}

.container.pb-2{
  padding-bottom: 2em;
}

.slideshow.user-flow{
  border-radius: 38px;
    }

div.nav-container{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  /*padding: 10em 3em;*/
  text-align: center;
  text-transform: uppercase;
  background-color: #efefef;
}

div.nav-container a{
  color: #FFF;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.highlightTextIn a:before{
  position: absolute;
  color: #11c793;
  top: 0px;
  left: 0px;
  padding: 9px 10px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  opacity: 0;
}

div.highlightTextIn a:hover:before{
    transform: scale(1);
    -ms-transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a{
  color: rgb(38, 38, 38);
}

div.highlightTextIn a:before{
  transform: scale(1.5);
  -ms-transform: scale(1.5);
}

.logo{
  max-width: 80px;
  float: left;
  /*margin-left: 4em;*/
  padding-left: 2em;
  padding-top: 0.8em;
  position:relative;
  transform: none;
  -ms-transform: none;
}

.slider  .slick-dots{
    padding-top: 15px !important;
    bottom: -30px !important;
}

#mp-page .slick-dots li button:before{
    font-size: 8px;
}

}

/* =============================================================================
Medium devices (768px and larger)
============================================================================= */
@media only screen and (min-width: 768px){

header{
  min-height:80px;
}

main{
  padding-top:80px;
}

#img-cartoon{
  margin-bottom: 6em;
}

#strip {
 background-image: url("../img/about_page/pattern@2x.jpg");
}

.quotes{
  width:50%;
  float: left;
  padding-left: 22%;
  padding-top: 1.5em;
}

.quotes p{
  width: 80%;
}

.col4th{
  width: 25%;
  float: left;
}

.col4th p{
  width: 90%
}

.col4th:nth-child(3){
  margin-top: 1.5em;
}


#hero-about{
  position:relative;
  width:100%;
  height: 80vh;
  overflow:hidden;
  background:#11c793;
}

#about-s1 {
  background-color:#11c793;
  position:absolute;
  top:0;
  left:0;
  /*padding-top: 12.5vw;*/
  background-image: url("../img/about_page/logo-background_portrait.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  width: inherit;
  height: inherit;
}

#scroll-down{
  bottom: 50px;
}

.quotes::before{
  position: absolute;
  margin-left:-15%;
  display: flex;
}

.highlight-text{
  padding: 3em;
}

#mp-page h1{
  padding-top:0;
  margin-top:0;
}

#mp-page .container{
  padding: 1em 3.5em 6em;
  margin: 0 auto;
}

.container-slider{
  padding-top: 1em !important;
  margin-top: 1.5em !important;
  padding-bottom: 3em !important;
}


/*scrollspy*/

#anchor-nav{
  display: block;
}
.dotnav-right {
  right: 10px;
  top: 50%;
  margin-top: -50px;
  height: auto;
  z-index: 999;
  position: fixed;
}

.dotnav {
  padding: 0;
  list-style: none;
}

.dotnav > li {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

.dotnav > li:nth-child(n+2) {
  margin-left: 15px;
}

.dotnav > li > a {
  display: block;
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #f78433;
  vertical-align: top;
  overflow: hidden;
  padding: 0 !important;
  text-indent: -999%;
  margin-bottom: 20px;
}

.dotnav > li > a:hover,
.dotnav > li > a:focus {
  background: #f78433 !important;
  outline: none;
}

.dotnav > li > a:active {
  background: #f78433;
}

.dotnav > li.active > a {
  background: #f78433;
}

.dotnav-vertical > li {
  display: block;
  margin-right:20px;
  position: relative;
}

.dotnav-vertical > li:nth-child(n+2) {
  margin-left: 0;
  margin-top: 10px;
}

.tooltip{
  position:relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: transparent;
  color: #f78433;
  text-align: right;
  border-radius: 6px;
  padding: 5px 10px 0 5px;
  position: absolute;
  z-index: 1;
  top: -8px;
  right: 105%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  font-weight: 700;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.container-pb0{
  padding-bottom:0 !important;
}

.anchor{
  height: 90px;
}

}

/* =============================================================================
   Medium devices (840px and larger)
==============================================================================*/
@media only screen and (min-width: 840px){
body{
  font-size: 18px;
}

#mp-page .slick-dots li button:before{
    font-size: 10px;
}

#work .row{
  padding: 8vw 0;
}

#about-s1 {
  background-image: url("../img/about_page/logo-background@2x.jpg");
}

}

/* =============================================================================
   Large devices (1024px or larger)
==============================================================================*/
@media only screen and (min-width: 1024px) {

#index h2{
  margin-bottom:0;
}

#work h2 span{
top: -30px;
}

footer span{
  position: absolute;
  top: -30px;
}


.col-lg-7{
  width: 60%;
}

.col-lg-5{
  width: 40%;
}

.colright-40{
  position: absolute;
  padding-left: 2em;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 60%;
}

.col-lg-6{
  width: 50%
}

.colr-lg-5{
  width: 40%;
  float: right;
}

.lg-width-80{
  width: 80%;
  margin: auto;
}

.colleft-60{
  position: absolute;
  padding-left: 2em;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 40%;
}

#work .row{
  padding: 70px 0;
}


#hero-about{
  position:relative;
  width:100%;
  height: 100vh;
  overflow:hidden;
  background:#11c793;
}

/*#about-s1 {
  background-color:#11c793;
  position:absolute;
  top:0;
  left:0;
  background-image: url("../img/about_page/logo-background@2x.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  width: inherit;
  height: inherit;
}*/

#about-s1 .container{
  text-align:center;
/*  background-color:#11c793;*/
  width:1000px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}

#about-s1 svg{
  max-width: 35px;
  padding-top: 12.5vw;
  margin: 0 auto;
}

#about-s1 p{
  display: inline-block;
  width: 100%;
  margin-top: 0;
}

#about-s1 h1{
  padding-top: 5vw;
}

#about-s1 h2{
  position: absolute;
  padding:0;
  bottom: 45%;
  width: 65%;
}

#about-s1 svg{
  padding-top:0;
}

#scroll-down{
  bottom: 100px;
}

.project-page h1{
  padding: 2em 0;
}

#mp-page .container{
  padding: 0 90px 80px 6em;
  margin: 0 auto;
}

.section{
  position: relative;
}

.outer-container{
  position:relative;
  max-width:1200px;
  margin: 0 auto;
}


/*=====================
  Vetical text
=======================*/
h5{
  display: block;
  font-size: 1.25em;
  color: #f78433;
  text-transform: uppercase;
  position: absolute;
  margin-left: 20px;
}

h5 span{
  color: #4b5161;
}

h5.vertical-txt {
  display: block;
  position: absolute;
  left: 0px;
  margin-left: 20px;

  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;

  -webkit-transform: rotate(270deg);
  -moz-transform:    rotate(270deg);
  -ms-transform:     rotate(270deg);
  -o-transform:      rotate(270deg);
}

.counter{
 top: 6.25vw;
 margin-top: 0px;
}

#vt-intro{
  top: calc(6.25vw + 150px);
}

#vt-approach{
  top: calc(6.25vw + 100px);
}

#vt-comp-analysis{
  top: calc(6.25vw + 455px);
}

#vt-usr-interviews{
  top: calc(6.25vw + 390px);
}


#vt-prblm-def{
  top: calc(6.25vw + 393px);
}

#vt-personas{
  top: calc(6.25vw + 264px);
}

#vt-flows{
  top: calc(6.25vw + 445px);
}

#vt-IA{
  top: calc(6.25vw + 490px);
}

#vt-wireframes{
  top: calc(6.25vw + 375px);
}

#vt-midfid{
  top: calc(6.25vw + 455px);
}

#vt-proto{
  top: calc(6.25vw + 503px);
  z-index: 1;
}

#vt-test{
  top: calc(6.25vw + 345px);
}

#vt-affinity{
  top: calc(6.25vw + 315px);
}

#vt-visual{
  top: calc(6.25vw + 440px);
}

#strip{
  height: 25em;
}

.parallax{
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}

/* =============================================================================
   Large devices (1100px or larger)
==============================================================================*/
@media only screen and (min-width: 1100px) {

  h5.vertical-txt {
    left:20px;
  }

  .counter{
    /*top: 34px;*/
    left: 20px;
  }

}

/* =============================================================================
   Large devices (1200px or larger)
==============================================================================*/
@media only screen and (min-width: 1200px) {

  #mp-page .container{
    padding: 0 70px 60px 6em;
    margin: 0 auto;
  }

  #work .container{
    max-width: 1000px;
  }

}

/* =============================================================================
   Large devices (1300px or larger)
==============================================================================*/

@media only screen and (min-width: 1300px) {

  #mp-page .container{
    padding: 0 70px 60px 6em;
    margin: 0 auto;
  }

.dotnav-right{
  right: 6.25vw;
}

}

/* =============================================================================
   X-large devices (1440px or larger)
==============================================================================*/

@media only screen and (min-width: 1440px) {
}
