
#animation-cairo-london h1{
  font-size: 1.75em;
  text-align: center;
  padding-top: 1em;
  font-family: 'Montserrat', sans-serif;
}


@keyframes shrink{
  20%{
    opacity: 1;
  }
  40% {
    transform: scale(1);
  }
  80%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes grow{
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40%{
    transform: scale(0);
    opacity: 0;
  }
  80%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes dash{
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-from{
  0% {
    stroke-dashoffset: 800;
  }
  30% {
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes dash-cairo1{
  0% {
    stroke-dashoffset: 800;
  }
  16% {
    stroke-dashoffset: 800;
  }
  24%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes dash-cairo2{
  0% {
    stroke-dashoffset: 800;
  }
  18% {
    stroke-dashoffset: 800;
  }
  45%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes appear1{
  28%{
    visibility: hidden;
  }
  33%{
    visibility: visible;
  }
}

@keyframes appear2{
  35%{
    visibility: hidden;
  }
  40%{
    visibility: visible;
  }
}

@keyframes appear3{
  40%{
    visibility: hidden;
  }
  45%{
    visibility: visible;
  }
}

@keyframes appear4{
  45%{
    visibility: hidden;
  }
  50%{
    visibility: visible;
  }
}

@keyframes dash2{
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-to{
  0% {
    stroke-dashoffset: 800;
  }
  48% {
    stroke-dashoffset: 800;
  }
  68% {
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes dash-london{
  0% {
    stroke-dashoffset: 800;
  }
  58% {
    stroke-dashoffset: 800;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

#from{
  stroke-dasharray: 800;
  stroke-dashoffset: 0;
  animation: dash-from 8s infinite linear forwards;
}

#cairo1{
  stroke-dasharray: 800;
  stroke-dashoffset: 0;
  animation: dash-cairo1 8s infinite linear backwards;
}

#cairo2{
  stroke-dasharray: 800;
  stroke-dashoffset: 0;
  animation: dash-cairo2 8s infinite linear backwards;
}

.circle:nth-child(1) {
  visibility: hidden;
  animation: appear1 8s infinite linear backwards;
}

.circle:nth-child(2) {
  visibility: hidden;
  animation: appear2 8s infinite linear backwards;
}

.circle:nth-child(3) {
  visibility: hidden;
  animation: appear3 8s infinite linear backwards;
}

.circle:nth-child(4) {
  visibility: hidden;
  animation: appear4 8s infinite linear backwards;
}

#to{
  stroke-dasharray: 800;
  stroke-dashoffset: 0;
  animation: dash-to 8s infinite linear backwards;
}

#london-word{
  stroke-dasharray: 800;
  stroke-dashoffset: 0;
  animation: dash-london 8s infinite linear backwards;
}

#cairo-city{
  opacity:0;
  animation: shrink 8s infinite normal linear forwards;
  transform-origin: center;
}

#london-city{
  animation: grow 8s infinite normal linear backwards;
  transform-origin: center;
}
